@import 'reset';
@import 'variables';

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html{
	background-color: $black;
}

body {
	font-family: 'Roboto', sans-serif;
	color: $white;
}

.clearfix {
    &:after {
    	content: '';
    	display: table;
    	clear: both;
    }
}

#c8rriboo {
    width: 100%;

    .header {
		position: absolute;
		top: 50%;
    	left: 50%;

		transform: translateY(-50%) translateX(-50%);
    }

	h1 {
		font-size: 6vw;
		line-height: 4vw;

		color: rgba($white, .8);

		small {
			font-size: 2.5vw;
		    font-weight: normal;
		    color: rgba($white, .8);

		    position: absolute;
		    top: 10%;
		    left: 17%;
		}
	}

	.desc {
		font-size: 1.5vw;
		color: rgba($white, 0.8);

    	margin-top: 1vh;
    	margin-left: .5vw;
	}

	.social {
	    font-size: 1.5vw;
    	text-align: left;

    	margin-top: 2vh;

    	transition: opacity .5s;

    	a {
    	    display: block;

    	    margin: 0 .5vw .5vw;

    		color: rgba($white, 0.8);
   			text-decoration: none;

	    	transition: color .5s;

    		&:hover {
    			color: $back-color;
    		}
    	}
	}

	section {
	    width: 100%;
	}

	.block {
	    position: relative;

		float: left;

		overflow: hidden;

		opacity: 0;

		&:first-child {
			opacity: 1 !important;
		}

		&:last-child {
			opacity: 1 !important;
		}

		&.big-one {
			width: 100%;
			height: 100%;

			background-color: $black;
		}

		&.medium-one {
			width: 75%;
			height: 100vh;
		}

		&.small-one {
			width: 25%;
			height: 50vh;

			background-color: $black;
		}

		&:hover {
			.social {
				opacity: 1;
			}

			.slide-info {
				width: 80%;
				height: 80%;

				opacity: 1;

				top: 10%;
				left: 10%;
			}
		}
	}

	.slides-container {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-position: center;
		background-size: cover;

		.slide {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-position: center;
			background-size: cover;

			opacity: 0;

			transition: opacity .5s;

			&.active {
				opacity: 1;
			}
		}
	}

	.slide-info {
		display: block;

		text-align: center;
		text-decoration: none;
		color: $text-color;
		white-space: normal;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		height: 100%;

		// transform: translateY(-50%) translateX(-50%);

		background-color: rgba($back-color, 1.8);
		opacity: 0;

		transition: opacity .5s, width .5s, height .5s, top .5s, left .5s;

		&.slide-info-mobile {
			display: none;
		}

		.v-center {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 100%;

			transform: translateY(-50%) translateX(-50%);
		}

		h2 {
		    font-size: 2vw;

		    margin-top: 2vh;

		    margin: 0 0 2vh;
		}

		hr {
		    width: 80%;
		    height: 1px;

		    margin: 0 auto;
		    border: none;

		    background-color: $white;
		}

		ul {
		    margin: 2vh 0 0;

			li {
				display: inline-block;
				margin: .5vh .5vw;

				position: relative;

				font-size: 1.8vw;
				text-align: center;

				.desc {
					opacity: 0;

					position: absolute;

					font-size: 1.6vw;
				}
			}
		}
	}
}

#moon {
	width: 15vw;
	height: 15vw;

	background-color: darken($white, 10%);
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;

	overflow: hidden;

	box-shadow: 0 0 7px $white;

	transform: translateX(-50%) translateY(-50%);

	opacity: .5;

	.visible {
		width: 15vw;
		height: 15vw;

		background-color: $white;
		border-radius: 50%;

		position: absolute;
		top: -2vw;
	    left: 3vw;
	}

	.crats {
		width: 3vw;
		height: 3vw;

		background-color: darken($white, 10%);
		border: 3px solid $white;
		border-radius: 50%;

		position: absolute;
		top: 3vw;
	    left: 2vw;

	    &.crat-2 {
			width: 1.5vw;
			height: 1.5vw;

			position: absolute;
			top: 11vw;
		    left: 6vw;
	    }

	    &.crat-3 {
			width: 2.5vw;
			height: 2.5vw;

			position: absolute;
			top: 6vw;
		    left: 9vw;
	    }
	}
}

@import 'mobile';