@import 'reset';
@import 'variables';

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html{
	background-color: $black;
}

body {
	font-family: 'Roboto', sans-serif;
	color: $white;
}

.clearfix {
    &:after {
    	content: '';
    	display: table;
    	clear: both;
    }
}

#c8rriboo {
    width: 100%;

    .header {
		position: absolute;
		top: 50%;
    	left: 50%;

		transform: translateY(-50%) translateX(-50%);
    }

	h1 {
		font-size: 6vw;
		line-height: 4vw;

		color: rgba($white, .8);

		small {
			font-size: 2.5vw;
		    font-weight: normal;
		    color: rgba($white, .8);
		
		    position: absolute;
		    top: 10%;
		    left: 17%;
		}
	}

	.desc {
		font-size: 1.5vw;
		color: rgba($white, 0.8);

    	margin-top: 1vh;
    	margin-left: .5vw;
	}

	.social {
	    font-size: 2vw;
    	text-align: right;

    	margin-top: 2vh;

    	// opacity: 0;

    	transition: opacity .5s;

    	a {
    		color: rgba($white, 0.8);

	    	transition: color .5s;

    		&:hover {
    			color: $back-color;
    		}
    	}
	}

	section {
	    width: 100%;
	}

	.block {
	    position: relative;

		float: left;

		overflow: hidden;

		opacity: 0;

		&:first-child {
			opacity: 1 !important;
		}

		&:last-child {
			opacity: 1 !important;
		}

		&.big-one {
			width: 100%;
			height: 100%;

			background-color: $black;
		}

		&.medium-one {
			width: 75%;
			height: 100vh;

			// background: linear-gradient(131deg, #0077ee, #cf64ba, #ff9502);
			// background: linear-gradient(131deg, #0077ee, #fee140, #fa709a);
			background-size: 600% 100%;


			&.gradient-scroll {
				-webkit-animation: gradientScroll 10s ease infinite;
				-moz-animation: gradientScroll 10s ease infinite;
				-o-animation: gradientScroll 10s ease infinite;
				animation: gradientScroll 10s ease infinite;

				@-webkit-keyframes gradientScroll {
				    0%{background-position:0% 50%}
				    50%{background-position:100% 50%}
				    100%{background-position:0% 50%}
				}
				@-moz-keyframes gradientScroll {
				    0%{background-position:0% 50%}
				    50%{background-position:100% 50%}
				    100%{background-position:0% 50%}
				}
				@-o-keyframes gradientScroll {
				    0%{background-position:0% 50%}
				    50%{background-position:100% 50%}
				    100%{background-position:0% 50%}
				}
				@keyframes gradientScroll { 
				    0%{background-position:0% 50%}
				    50%{background-position:100% 50%}
				    100%{background-position:0% 50%}
				}
			}
		}

		&.small-one {
			width: 25%;
			height: 50vh;

			background-color: $black;
		}

		&:hover {
			.social {
				opacity: 1;
			}

			.slide-info {
				width: 80%;
				height: 80%;

				opacity: 1;
			}
		}
	}

	.slides-container {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-position: center;
		background-size: cover;

		.slide {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-position: center;
			background-size: cover;

			opacity: 0;

			transition: opacity .5s;

			&.active {
				opacity: 1;
			}
		}
	}

	.slide-info {
		display: block;

		text-align: center;
		text-decoration: none;
		color: $text-color;
		white-space: normal;

		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;

		width: 100%;
		height: 100%;

		transform: translateY(-50%) translateX(-50%);

		background-color: rgba($back-color, 1.8);
		opacity: 0;

		transition: opacity .5s, width .5s, height .5s;

		&.slide-info-mobile {
			display: none;
		}

		.v-center {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 100%;

			transform: translateY(-50%) translateX(-50%);
		}

		h2 {
		    font-size: 2vw;

		    margin-top: 2vh;
		    
		    margin: 0 0 2vh;
		}

		hr {
		    width: 80%;
		    height: 1px;

		    margin: 0 auto;
		    border: none;
		    
		    background-color: #fafafa;
		}

		ul {
		    margin: 2vh 0 0;

			li {
				display: inline-block;
				margin: .5vh .5vw;

				position: relative;

				font-size: 1.8vw;
				text-align: center;

				.desc {
					opacity: 0;

					position: absolute;

					font-size: 1.6vw;
				}
			}
		}
	}
}

#moon {
	width: 15vw;
	height: 15vw;

	background-color: #c8bbb3;
	// background-color: $black;
	background-color: darken($white, 10%);
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;

	overflow: hidden;

	box-shadow: 0 0 7px $white;

	transform: translateX(-50%) translateY(-50%);

	opacity: .5;

	.visible {
		width: 15vw;
		height: 15vw;

		background-color: #f4e8dc;
		// background-color: lighten($black, 5%);
		background-color: $white;
		border-radius: 50%;

		position: absolute;
		top: -2vw;
	    left: 3vw;
	}

	.crats {
		width: 3vw;
		height: 3vw;

		background-color: #c8bbb3;
		// background-color: $black;
		background-color: darken($white, 10%);
		border: 3px solid #f4e8dc;
		// border: 3px solid lighten($black, 5%);
		border: 3px solid $white;
		border-radius: 50%;

		position: absolute;
		top: 3vw;
	    left: 2vw;

	    &.crat-2 {
			width: 1.5vw;
			height: 1.5vw;

			position: absolute;
			top: 11vw;
		    left: 6vw;
	    }

	    &.crat-3 {
			width: 2.5vw;
			height: 2.5vw;

			position: absolute;
			top: 6vw;
		    left: 9vw;
	    }
	}

	// -webkit-animation: moonFade 15s ease infinite;
	// -moz-animation: moonFade 15s ease infinite;
	// -o-animation: moonFade 15s ease infinite;
	// animation: moonFade 15s ease infinite;

	@-webkit-keyframes moonFade {
	    0%{opacity: 0}
	    50%{opacity: .5}
	    100%{opacity: 0}
	}
	@-moz-keyframes moonFade {
	    0%{opacity: 0}
	    50%{opacity: .5}
	    100%{opacity: 0}
	}
	@-o-keyframes moonFade {
	    0%{opacity: 0}
	    50%{opacity: .5}
	    100%{opacity: 0}
	}
	@keyframes moonFade { 
	    0%{opacity: 0}
	    50%{opacity: .5}
	    100%{opacity: 0}
	}
}

@media screen and (max-width: 780px) {
	#c8rriboo {
		h1 {
			font-size: 20vw;

			small {
			    font-size: 9vw;
			    top: -15%;
			    left: 17%;
			}
		}

		.desc{
		    font-size: 6vw;
		    margin-top: 4vh;
		    margin-left: 2vw;
		}

		.social {
			font-size: 7vw;
		}

		.block {
			&.small-one {
				width: calc(100% - 8vw);
				height: auto;

				padding: 0 4vw 4vw 4vw;

				&:first-child {
					height: 50vh;
				}

				&:last-child {
					height: 25vh;
				}

				.slide-info {
					position: relative; 
					top: auto;
					left: auto;

					transform: none;

					height: auto;

					opacity: 1;

					background-color: $back-color;
			
					// color: $back-color;
					// background-color: $text-color;

					&.slide-info-mobile {
						display: block;

						h2 {
							transform: rotateZ(45deg);
						}
					}

					.v-center {
						position: static;

						width: 100%;
						
						transform: none;	
					}

					h2 {
						margin: 0;

						font-size: 10vw;

						padding: 2vh 0;
					}

					hr {
						display: none;
					}

					ul {
						position: static;

						padding: 0 0 2vh;

						margin: 0;

						br {
							display: none;
						}

						li {
							font-size: 7vw;
						}
					}
				}

				.slides-container {
					position: relative; 
					top: auto;
					left: auto;

					transform: none;

					height: 50vh;
				} 
			}

			&:hover {
				.slide-info {
					width: 100%;
				}
			}
		}
	}
}